page-password {

/*
    scroll-content {
        display: flex;
        flex-direction: column;
    }
*/
    .backbutton-icon{
        font-size: xx-large;
    }
    .header{
        padding:0px;
    }
    .title{
        font-size: x-large;
    }

    .circle{
        display: block;
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
    }

    .button-outline-ios {
        border-color:gray;
        color:black;
    }

    .extender {
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
    }

   .padder-center{
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

     .box{
        border-bottom: 2px solid #afafaf;
        text-align: center;
        font-size:2.5em;
        height:15vw;
    }

}
