page-home {
    $sub-color : #d8e9f0;

    .header-ios .toolbar-ios:last-child .toolbar-background-ios{
        background-color: #d8e9f0;
        border-bottom: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .bg-sub1{
        background-color:$sub-color; 
    }

    .icon-spot{
        position: absolute;
        left: 30px;
        top:10%;
        width: 100%;
        height: 10px;
        z-index: 1;
    }

    .div-transaction{
        margin-right: 20px;
        margin-left: 20px;
        padding-bottom:15px;
        border-left: 25px solid transparent;
        p{
            margin:0;
        }
    }

    .row1-cashHistory{
        ion-col{
            padding:0;
            padding-bottom:10px;
            padding-right:10px;
            padding-left: 10px;
            font-size:14px;
        }

        ion-col:nth-child(1){
            flex: 0 0 75%;
        }
    }
    
    .row2-cashHistory{
        border-radius: 10px;
        height:70px;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;

        ion-col{
            display: flex;
            flex-direction: column;
            justify-content: center;

            p{
                padding-top:5px;
                padding-bottom:5px;
            }

            button{
                padding:0;
                .button-inner{
                    justify-content: flex-start;
                }
            }
        }

    }

}
