menu-item {
     .MenuText{
        text-align:center !important;
    }

    .menuImg{
        border-radius : 50% !important;
        height : 100% !important;
        width : 100% !important;
    }
}
