<!--
  Generated template for the MenuDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar>
    <ion-title>더큰도시락</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div class="div-menu-detail">
        <img [src]="imagePath+menu.imagePath">
        <p class="p-name">{{menu.menuName}}</p>
        <p class="p-description">{{"설명:"+menu.description}}</p>
    </div>
    <div class="div-amount">
        <div class="div-price-area">
            <span>가격</span>
            <span class="sub3-color">{{menu.price}}</span><span>원</span>
        </div>
        <div class="div-options">
            <p>추가옵션</p>
            <div *ngFor="let option of options">
                <ion-item class="bg-sub1" no-lines>
                    <ion-label>{{option.name}}</ion-label>
                    <ion-label class="sub3-color">{{"+"+option.price}}</ion-label>
                    <ion-toggle [(ngModel)]="option.flag" (ionChange)="changeOption(option)" color="subColor2"></ion-toggle>
                </ion-item>
                <ion-row radio-group [(ngModel)]="option.default" *ngIf="option.choice!==undefined && option.flag">
                    <ion-col  *ngFor="let choice of option.choice">
                         <ion-item class="bg-sub1" no-lines >
                            <ion-label>{{choice}}</ion-label>
                            <ion-radio  color="subColor2" [value]="choice"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>                
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="toolbar-shadow">
        <div class="div-footer-amount">
             <div><span class="sub3-color">{{amount}}</span><span>원</span></div>
            <div class="div-count">
                <button (click)="decrease(menu)" color="subColor2" ion-button clear icon-only>
                    <ion-icon name="ios-remove-circle-outline"></ion-icon>
                </button>
                <ion-input type="number" [(ngModel)]="menu.count" min="1" color="subColor2" readonly></ion-input>
                <button (click)="increase(menu)" color="subColor2" ion-button clear icon-only>
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                </button>
            </div>
        </div>
        <div class="div-btn-order">
            <button color="subColor2" full ion-button>
                장바구니
            </button>
            <button color="subColor2" full ion-button>
                바로주문
            </button>
        </div>
    </ion-toolbar>
</ion-footer>
